---
import Layout from "../../../../layouts/Layout.astro";
import Breadcrumbs from "../../../../../../src/Breadcrumbs.astro";
---

<Layout title="Welcome to Astro Breadcrumbs.">
  <main>
    <h2>
      Example 7 - With trailing slash
      <Breadcrumbs />
    </h2>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
