---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import type { BreadcrumbLinkProps } from "astro-breadcrumbs";

interface ImprintProps {
  frontmatter: {
    title: BreadcrumbLinkProps;
    template: string;
  };
}
---

<StarlightPage frontmatter={{ title: "Imprint (DE)", template: "splash" }}>
  <p>
    <strong>Angaben gemäß § 5 TMG</strong><br />Felix Scholze<br />Brennerstr.
    88A<br />13197 Berlin
  </p>
  <p>
    <br /><strong>Kontakt</strong><br />E-Mail: <a
      href="mailto:felix@kasimir.dev">felix@kasimir.dev</a
    >
  </p>
</StarlightPage>
