---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
---

<StarlightPage
  frontmatter={{ title: "Privacy Policy (DE)", template: "splash" }}
>
  <h1>Datenschutz­erklärung</h1>
  <h2>1. Datenschutz auf einen Blick</h2>
  <h3>Allgemeine Hinweise</h3>
  <p>
    Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
    Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen.
    Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
    identifiziert werden können. Ausführliche Informationen zum Thema
    Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
    Datenschutzerklärung.
  </p>
  <h3>Datenerfassung auf dieser Website</h3>
  <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
  <p>
    Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
    Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen
    Stelle“ in dieser Datenschutzerklärung entnehmen.
  </p>
  <h4>Wie erfassen wir Ihre Daten?</h4>
  <p>
    Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
    Hierbei kann es sich z.&nbsp;B. um Daten handeln, die Sie in ein
    Kontaktformular eingeben.
  </p>
  <p>
    Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der
    Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten
    (z.&nbsp;B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs).
    Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website
    betreten.
  </p>
  <h4>Wofür nutzen wir Ihre Daten?</h4>
  <p>
    Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
    Website zu gewährleisten. Andere Daten können zur Analyse Ihres
    Nutzerverhaltens verwendet werden.
  </p>
  <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
  <p>
    Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft,
    Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten.
    Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu
    verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben,
    können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem
    haben Sie das Recht, unter bestimmten Umständen die Einschränkung der
    Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des Weiteren steht
    Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
  </p>
  <p>
    Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich
    jederzeit an uns wenden.
  </p>
  <h3>Analyse-Tools und Tools von Dritt­anbietern</h3>
  <p>
    Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet
    werden. Das geschieht vor allem mit sogenannten Analyseprogrammen.
  </p>
  <p>
    Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der
    folgenden Datenschutzerklärung.
  </p>
  <h2>2. Hosting und Content Delivery Networks (CDN)</h2>
  <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>
  <h3>Externes Hosting</h3>
  <p>
    Diese Website wird extern gehostet. Die personenbezogenen Daten, die auf
    dieser Website erfasst werden, werden auf den Servern des Hosters / der
    Hoster gespeichert. Hierbei kann es sich v.&nbsp;a. um IP-Adressen,
    Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten,
    Namen, Websitezugriffe und sonstige Daten, die über eine Website generiert
    werden, handeln.
  </p>
  <p>
    Das externe Hosting erfolgt zum Zwecke der Vertragserfüllung gegenüber
    unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und
    im Interesse einer sicheren, schnellen und effizienten Bereitstellung
    unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1
    lit. f DSGVO). Sofern eine entsprechende Einwilligung abgefragt wurde,
    erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs. 1 lit.
    a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung die Speicherung von
    Cookies oder den Zugriff auf Informationen im Endgerät des Nutzers
    (z.&nbsp;B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die
    Einwilligung ist jederzeit widerrufbar.
  </p>
  <p>
    Unser(e) Hoster wird bzw. werden Ihre Daten nur insoweit verarbeiten, wie
    dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere
    Weisungen in Bezug auf diese Daten befolgen.
  </p>
  <p>Wir setzen folgende(n) Hoster ein:</p>
  <p>
    Cloudflare Inc.,<br />101 Townsend St.,<br />San Francisco,<br />CA 94107,<br
    />USA
  </p>
  <h4>Auftragsverarbeitung</h4>
  <p>
    Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des oben
    genannten Dienstes geschlossen. Hierbei handelt es sich um einen
    datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass
    dieser die personenbezogenen Daten unserer Websitebesucher nur nach unseren
    Weisungen und unter Einhaltung der DSGVO verarbeitet.
  </p>
  <h3>Cloudflare</h3>
  <p>
    Wir nutzen den Service „Cloudflare“. Anbieter ist die Cloudflare Inc., 101
    Townsend St., San Francisco, CA 94107, USA (im Folgenden „Cloudflare”).
  </p>
  <p>
    Cloudflare bietet ein weltweit verteiltes Content Delivery Network mit DNS
    an. Dabei wird technisch der Informationstransfer zwischen Ihrem Browser und
    unserer Website über das Netzwerk von Cloudflare geleitet. Das versetzt
    Cloudflare in die Lage, den Datenverkehr zwischen Ihrem Browser und unserer
    Website zu analysieren und als Filter zwischen unseren Servern und
    potenziell bösartigem Datenverkehr aus dem Internet zu dienen. Hierbei kann
    Cloudflare auch Cookies oder sonstige Technologien zur Wiedererkennung von
    Internetnutzern einsetzen, die jedoch allein zum hier beschriebenen Zweck
    verwendet werden.
  </p>
  <p>
    Der Einsatz von Cloudflare beruht auf unserem berechtigten Interesse an
    einer möglichst fehlerfreien und sicheren Bereitstellung unseres
    Webangebotes (Art. 6 Abs. 1 lit. f DSGVO).
  </p>
  <p>
    Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
    EU-Kommission gestützt. Details finden Sie hier: <a
      href="https://www.cloudflare.com/privacypolicy/"
      target="_blank"
      rel="noreferrer noopener">https://www.cloudflare.com/privacypolicy/</a
    >.
  </p>
  <p>
    Weitere Informationen zum Thema Sicherheit und Datenschutz bei Cloudflare
    finden Sie hier: <a
      href="https://www.cloudflare.com/privacypolicy/"
      target="_blank"
      rel="noreferrer noopener">https://www.cloudflare.com/privacypolicy/</a
    >.
  </p>
  <h4>Auftragsverarbeitung</h4>
  <p>
    Wir haben einen Vertrag über Auftragsverarbeitung (AVV) zur Nutzung des oben
    genannten Dienstes geschlossen. Hierbei handelt es sich um einen
    datenschutzrechtlich vorgeschriebenen Vertrag, der gewährleistet, dass
    dieser die personenbezogenen Daten unserer Websitebesucher nur nach unseren
    Weisungen und unter Einhaltung der DSGVO verarbeitet.
  </p>
  <h2>3. Allgemeine Hinweise und Pflicht­informationen</h2>
  <h3>Datenschutz</h3>
  <p>
    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr
    ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
    entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerklärung.
  </p>
  <p>
    Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten
    erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich
    identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert,
    welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie
    und zu welchem Zweck das geschieht.
  </p>
  <p>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z.&nbsp;B. bei
    der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein
    lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>
  <h3>Hinweis zur verantwortlichen Stelle</h3>
  <p>
    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
  </p>
  <p>Felix Scholze<br />Brennerstr. 88A<br />13187 Berlin</p>
  <p>E-Mail: felix@kasimir.dev</p>
  <p>
    Verantwortliche Stelle ist die natürliche oder juristische Person, die
    allein oder gemeinsam mit anderen über die Zwecke und Mittel der
    Verarbeitung von personenbezogenen Daten (z.&nbsp;B. Namen, E-Mail-Adressen
    o. Ä.) entscheidet.
  </p>
  <h3>Speicherdauer</h3>
  <p>
    Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer
    genannt wurde, verbleiben Ihre personenbezogenen Daten bei uns, bis der
    Zweck für die Datenverarbeitung entfällt. Wenn Sie ein berechtigtes
    Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung
    widerrufen, werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich
    zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben
    (z.&nbsp;B. steuer- oder handelsrechtliche Aufbewahrungsfristen); im
    letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe.
  </p>
  <h3>
    Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser
    Website
  </h3>
  <p>
    Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre
    personenbezogenen Daten auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw.
    Art. 9 Abs. 2 lit. a DSGVO, sofern besondere Datenkategorien nach Art. 9
    Abs. 1 DSGVO verarbeitet werden. Im Falle einer ausdrücklichen Einwilligung
    in die Übertragung personenbezogener Daten in Drittstaaten erfolgt die
    Datenverarbeitung außerdem auf Grundlage von Art. 49 Abs. 1 lit. a DSGVO.
    Sofern Sie in die Speicherung von Cookies oder in den Zugriff auf
    Informationen in Ihr Endgerät (z.&nbsp;B. via Device-Fingerprinting)
    eingewilligt haben, erfolgt die Datenverarbeitung zusätzlich auf Grundlage
    von § 25 Abs. 1 TTDSG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre
    Daten zur Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen
    erforderlich, verarbeiten wir Ihre Daten auf Grundlage des Art. 6 Abs. 1
    lit. b DSGVO. Des Weiteren verarbeiten wir Ihre Daten, sofern diese zur
    Erfüllung einer rechtlichen Verpflichtung erforderlich sind auf Grundlage
    von Art. 6 Abs. 1 lit. c DSGVO. Die Datenverarbeitung kann ferner auf
    Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO
    erfolgen. Über die jeweils im Einzelfall einschlägigen Rechtsgrundlagen wird
    in den folgenden Absätzen dieser Datenschutzerklärung informiert.
  </p>
  <h3>Hinweis zur Datenweitergabe in die USA und sonstige Drittstaaten</h3>
  <p>
    Wir verwenden unter anderem Tools von Unternehmen mit Sitz in den USA oder
    sonstigen datenschutzrechtlich nicht sicheren Drittstaaten. Wenn diese Tools
    aktiv sind, können Ihre personenbezogene Daten in diese Drittstaaten
    übertragen und dort verarbeitet werden. Wir weisen darauf hin, dass in
    diesen Ländern kein mit der EU vergleichbares Datenschutzniveau garantiert
    werden kann. Beispielsweise sind US-Unternehmen dazu verpflichtet,
    personenbezogene Daten an Sicherheitsbehörden herauszugeben, ohne dass Sie
    als Betroffener hiergegen gerichtlich vorgehen könnten. Es kann daher nicht
    ausgeschlossen werden, dass US-Behörden (z.&nbsp;B. Geheimdienste) Ihre auf
    US-Servern befindlichen Daten zu Überwachungszwecken verarbeiten, auswerten
    und dauerhaft speichern. Wir haben auf diese Verarbeitungstätigkeiten keinen
    Einfluss.
  </p>
  <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
  <p>
    Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
    Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
    jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
    Datenverarbeitung bleibt vom Widerruf unberührt.
  </p>
  <h3>
    Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen
    Direktwerbung (Art. 21 DSGVO)
  </h3>
  <p>
    WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F
    DSGVO ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS
    IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER
    PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF
    DIESE BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF
    DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG.
    WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN PERSONENBEZOGENEN
    DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE
    SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN,
    RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE VERARBEITUNG DIENT DER
    GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN (WIDERSPRUCH
    NACH ART. 21 ABS. 1 DSGVO).
  </p>
  <p>
    WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU
    BETREIBEN, SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE
    VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER
    WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER
    DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE
    PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER
    DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).
  </p>
  <h3>Beschwerde­recht bei der zuständigen Aufsichts­behörde</h3>
  <p>
    Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein
    Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem
    Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des
    Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet
    anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
  </p>
  <h3>Recht auf Daten­übertrag­barkeit</h3>
  <p>
    Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in
    Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen
    Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen.
    Sofern Sie die direkte Übertragung der Daten an einen anderen
    Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
    ist.
  </p>
  <h3>Auskunft, Löschung und Berichtigung</h3>
  <p>
    Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
    Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen
    Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und
    ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu
    weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit
    an uns wenden.
  </p>
  <h3>Recht auf Einschränkung der Verarbeitung</h3>
  <p>
    Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer
    personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit an
    uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in
    folgenden Fällen:
  </p>
  <ul class="wp-block-list">
    <li>
      Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen
      Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen.
      Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung der
      Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
    </li>
    <li>
      Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig
      geschah/geschieht, können Sie statt der Löschung die Einschränkung der
      Datenverarbeitung verlangen.
    </li>
    <li>
      Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch
      zur Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen
      benötigen, haben Sie das Recht, statt der Löschung die Einschränkung der
      Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
    </li>
    <li>
      Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss
      eine Abwägung zwischen Ihren und unseren Interessen vorgenommen werden.
      Solange noch nicht feststeht, wessen Interessen überwiegen, haben Sie das
      Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu
      verlangen.
    </li>
  </ul>
  <p>
    Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben,
    dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer
    Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von
    Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
    juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses
    der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
  </p>
  <h3>SSL- bzw. TLS-Verschlüsselung</h3>
  <p>
    Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
    vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie
    an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung. Eine
    verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
    Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in
    Ihrer Browserzeile.
  </p>
  <p>
    Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die
    Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  </p>
  <h2>4. Datenerfassung auf dieser Website</h2>
  <h3>Cookies</h3>
  <p>
    Unsere Internetseiten verwenden so genannte „Cookies“. Cookies sind kleine
    Datenpakete und richten auf Ihrem Endgerät keinen Schaden an. Sie werden
    entweder vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder
    dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert.
    Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht.
    Permanente Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese
    selbst löschen oder eine automatische Löschung durch Ihren Webbrowser
    erfolgt.
  </p>
  <p>
    Cookies können von uns (First-Party-Cookies) oder von Drittunternehmen
    stammen (sog. Third-Party-Cookies). Third-Party-Cookies ermöglichen die
    Einbindung bestimmter Dienstleistungen von Drittunternehmen innerhalb von
    Webseiten (z.&nbsp;B. Cookies zur Abwicklung von Zahlungsdienstleistungen).
  </p>
  <p>
    Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch
    notwendig, da bestimmte Webseitenfunktionen ohne diese nicht funktionieren
    würden (z.&nbsp;B. die Warenkorbfunktion oder die Anzeige von Videos).
    Andere Cookies können zur Auswertung des Nutzerverhaltens oder zu
    Werbezwecken verwendet werden.
  </p>
  <p>
    Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs, zur
    Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.&nbsp;B. für
    die Warenkorbfunktion) oder zur Optimierung der Website (z.&nbsp;B. Cookies
    zur Messung des Webpublikums) erforderlich sind (notwendige Cookies), werden
    auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine
    andere Rechtsgrundlage angegeben wird. Der Websitebetreiber hat ein
    berechtigtes Interesse an der Speicherung von notwendigen Cookies zur
    technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern
    eine Einwilligung zur Speicherung von Cookies und vergleichbaren
    Wiedererkennungstechnologien abgefragt wurde, erfolgt die Verarbeitung
    ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO
    und § 25 Abs. 1 TTDSG); die Einwilligung ist jederzeit widerrufbar.
  </p>
  <p>
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies
    informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von
    Cookies für bestimmte Fälle oder generell ausschließen sowie das
    automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei
    der Deaktivierung von Cookies kann die Funktionalität dieser Website
    eingeschränkt sein.
  </p>
  <p>
    Welche Cookies und Dienste auf dieser Website eingesetzt werden, können Sie
    dieser Datenschutzerklärung entnehmen.
  </p>
  <h3>Anfrage per E-Mail, Telefon oder Telefax</h3>
  <p>
    Wenn Sie uns per E-Mail, Telefon oder Telefax kontaktieren, wird Ihre
    Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name,
    Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns gespeichert und
    verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
  </p>
  <p>
    Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b
    DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt
    oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen
    übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an
    der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1
    lit. f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO)
    sofern diese abgefragt wurde; die Einwilligung ist jederzeit widerrufbar.
  </p>
  <p>
    Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei
    uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung
    widerrufen oder der Zweck für die Datenspeicherung entfällt (z.&nbsp;B. nach
    abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche
    Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben
    unberührt.
  </p>
  <h2>5. Analyse-Tools und Werbung</h2>
  <h3>Matomo</h3>
  <p>Diese Website benutzt den Open Source Webanalysedienst Matomo.</p>
  <p>
    Mit Hilfe von Matomo sind wir in der Lage Daten über die Nutzung unserer
    Website durch die Websitebesucher zu erfassen und zu analysieren. Hierdurch
    können wir u.&nbsp;a. herausfinden, wann welche Seitenaufrufe getätigt
    wurden und aus welcher Region sie kommen. Außerdem erfassen wir verschiedene
    Logdateien (z.&nbsp;B. IP-Adresse, Referrer, verwendete Browser und
    Betriebssysteme) und können messen, ob unsere Websitebesucher bestimmte
    Aktionen durchführen (z.&nbsp;B. Klicks, Käufe u. Ä.).
  </p>
  <p>
    Die Nutzung dieses Analyse-Tools erfolgt auf Grundlage von Art. 6 Abs. 1
    lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der
    Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine
    Werbung zu optimieren. Sofern eine entsprechende Einwilligung abgefragt
    wurde, erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs.
    1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung die
    Speicherung von Cookies oder den Zugriff auf Informationen im Endgerät des
    Nutzers (z.&nbsp;B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die
    Einwilligung ist jederzeit widerrufbar.
  </p>
  <h4>IP-Anonymisierung</h4>
  <p>
    Bei der Analyse mit Matomo setzen wir IP-Anonymisierung ein. Hierbei wird
    Ihre IP-Adresse vor der Analyse gekürzt, sodass Sie Ihnen nicht mehr
    eindeutig zuordenbar ist.
  </p>
  <h4>Cookielose Analyse</h4>
  <p>
    Wir haben Matomo so konfiguriert, dass Matomo keine Cookies in Ihrem Browser
    speichert.
  </p>
  <h4>Hosting</h4>
  <p>
    Wir hosten Matomo ausschließlich auf unseren eigenen Servern, sodass alle
    Analysedaten bei uns verbleiben und nicht weitergegeben werden.
  </p>
  <h3>Cloudflare Web Analytics</h3>
  <p>
    Unsere Webseite setzt das Analysewerkzeug Cloudflare Web Analytics ein. Der
    Anbieter dieses Dienstes ist die US-Firma Cloudflare Inc., 101 Townsend St.,
    San Francisco, CA 94107, USA.
  </p>
  <p>
    Cloudflare verarbeitet Ihre Daten unter anderem in den USA. Cloudflare ist
    ein aktiver Teilnehmer des EU-US-Datenschutzrahmens, der den korrekten und
    sicheren Datentransfer personenbezogener Daten von EU-Bürgern in die USA
    regelt. Weitere Informationen dazu finden Sie unter
    https://commission.europa.eu/document/fa09cbad-dd7d-4684-ae60-be03fcb0fddf_en.
  </p>
  <p>
    Darüber hinaus verwendet Cloudflare sogenannte Standardvertragsklauseln
    (Art. 46. Abs. 2 und 3 DSGVO). Standardvertragsklauseln (Standard
    Contractual Clauses – SCC) sind Mustervorlagen, die von der EU-Kommission
    bereitgestellt werden und sicherstellen sollen, dass Ihre Daten auch dann
    den europäischen Datenschutzstandards entsprechen, wenn sie in Drittländer
    (wie beispielsweise die USA) übermittelt und dort gespeichert werden. Durch
    das EU-US-Datenschutzrahmenwerk und die Standardvertragsklauseln
    verpflichtet sich Cloudflare, das europäische Datenschutzniveau einzuhalten,
    selbst wenn die Daten in den USA gespeichert, verarbeitet und verwaltet
    werden. Diese Klauseln basieren auf einem Durchführungsbeschluss der
    EU-Kommission. Den Beschluss und die entsprechenden Standardvertragsklauseln
    finden Sie unter anderem hier:
    https://eur-lex.europa.eu/eli/dec_impl/2021/914/oj?locale=de.
  </p>
  <p>
    Weitere Informationen zu den Standardvertragsklauseln bei Cloudflare finden
    Sie unter https://www.cloudflare.com/cloudflare_customer_SCCs.pdf.
  </p>
  <p>
    Weitere Informationen über die Daten, die durch die Nutzung von Cloudflare
    Web Analytics verarbeitet werden, finden Sie in der Datenschutzerklärung
    unter https://www.cloudflare.com/de-de/privacypolicy/.
  </p>
</StarlightPage>
