---
interface BreadcrumbSeparatorProps {
  mainBemClass: string;
  separatorAriaHidden: boolean;
}

const { mainBemClass, separatorAriaHidden } =
  Astro.props as BreadcrumbSeparatorProps;
---

<span class={`${mainBemClass}__separator`} aria-hidden={separatorAriaHidden}>
  <slot name="separator" />
</span>
