---
interface BreadcrumbLinkProps {
  attrs: Record<string, any>;
  mainBemClass: string;
  isIndex: boolean;
  isCurrent: boolean;
}
const { attrs, mainBemClass, isIndex, isCurrent } =
  Astro.props as BreadcrumbLinkProps;

const cssClasses = [
  `${mainBemClass}__link`,
  { "is-current": isCurrent },
  { "is-index": isIndex },
];
---

<a
  {...attrs}
  class:list={cssClasses}
  aria-current={isCurrent ? "location" : false}
>
  <slot name="index" />
</a>
