---
import type { BreadcrumbSeparatorProps } from "./breadcrumbs.types.ts";

const { mainBemClass, separatorAriaHidden } =
  Astro.props as BreadcrumbSeparatorProps;
---

<span class={`${mainBemClass}__separator`} aria-hidden={separatorAriaHidden}>
  <slot name="separator" />
</span>
