---
import type { BreadcrumbLinkProps } from "./breadcrumbs";

const { attrs, mainBemClass, isIndex, isCurrent } =
  Astro.props as BreadcrumbLinkProps;

const cssClasses = [
  `${mainBemClass}__link`,
  { "is-current": isCurrent },
  { "is-index": isIndex },
];
---

<a
  {...attrs}
  class:list={cssClasses}
  aria-current={isCurrent ? "location" : false}
>
  <slot name="index" />
</a>
